@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex flex-column justify-content-center align-items-center text-center vh-100">
    <h1 class="display-4 text-danger">Page Not Found</h1>
    <img src="/img/error.gif" alt="Error Image" class="img-fluid my-4" style="max-width: 600px;" />
    <div class="text">
        <h2 class="mb-3">Looks like you're lost</h2>
        <p class="mb-4">The page you are looking for is not available.</p>
        <a href="/Home" class="btn btn-primary px-4">Go To Home</a>
    </div>
    <p class="mt-5">Shop<span class="text-danger">QA</span></p>
</div>