@{
   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Admin Dashboard!</h1>
    <p class="lead">Use the sidebar to navigate through management sections.</p>
    <hr class="my-4">
    <p>Here you can manage your shop's categories, brands, products, and more.</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text">Manage product categories.</p>
                <a href="/Category/Index" class="btn btn-primary">Go to Categories</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brands</h5>
                <p class="card-text">Manage product brands.</p>
                <a href="/Brand/Index" class="btn btn-primary">Go to Brands</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">Manage your shop's products.</p>
                <a href="/Product/ProductList" class="btn btn-primary">Go to Products</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Discounts</h5>
                <p class="card-text">Manage product discount.</p>
                <a href="/Discount/Index" class="btn btn-primary">Go to Discount</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order</h5>
                <p class="card-text">Manage your shop's Order.</p>
                <a href=" /Order/OrderList" class="btn btn-primary">Go to Order</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Review</h5>
                <p class="card-text">Manage your shop's Review.</p>
                <a href=" /Review/ReviewList" class="btn btn-primary">Go to Review</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brands</h5>
                <p class="card-text">Manage user</p>
                <a href="/User/Index" class="btn btn-primary">Go to Brands</a>
            </div>
        </div>
    </div>


</div>